@font-face {
    font-family: 'Helvet';
    src: url("../fonts/helvet/HelveticaNeue.ttf")
}

@font-face {
    font-family: 'Penthouse';
    src: url("../fonts/penthouse/Penthouse-Serial\ Regular.ttf");
}

@font-face {
    font-family: "HelveticaBlack";
    src: url("https://db.onlinewebfonts.com/t/37e97cab0a53ea0bcb70f8a28ded186a.eot");
    src: url("https://db.onlinewebfonts.com/t/37e97cab0a53ea0bcb70f8a28ded186a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/37e97cab0a53ea0bcb70f8a28ded186a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/37e97cab0a53ea0bcb70f8a28ded186a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/37e97cab0a53ea0bcb70f8a28ded186a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/37e97cab0a53ea0bcb70f8a28ded186a.svg#Helvetica Neue W02 95 Black")format("svg");
}


body {
    background-color: rgb(121, 33, 241);
    cursor: none;
}

#vert-line{
    background-color: white;
    position: fixed;
    height: 100%;
    width: 10px;
    transform: translate(-50%, 0);
    top: 0;
    left: 50%;
}

#horiz-line{
    background-color: white;
    position: fixed;
    height: 10px;
    width: 100%;
    transform: translate(0, -50%);
    top: 50%;
    left: 0;
}

#everything{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #ffffff;
}

#top-left{
    width: 100%;
    text-align: center;
    overflow:hidden;
    padding-bottom: 50px;
}
#zoma{
    position: relative;
    font-family: 'HelveticaBlack';
    height: fit-content;
    width: 100%;
    font-weight: 1000px;

    
}

.fullsize{
    position: relative;
    transform: translate(0, -50%);
    font-size: 200px;
    top: 0%;
    
}

.madu-full{
    position: relative;
    font-family: 'HelveticaBlack';
    transform: translate(0, -50%);
    font-size: 100px;
    margin-bottom: -10px;
}

.midsize{
    position: relative;
    transform: translate(0, -50%);
    top: 35%;
    font-size: 150px;

}

.madu-mid{
    position: relative;
    font-family: 'HelveticaBlack';
    transform: translate(0, -50%);
    top: 0%;
    font-size: 75px;
}


.smallsize{
    position: relative;
    transform: translate(0, -50%);
    top: 50%;
    font-size: 150px;
    line-height: 150px;

}

.madu-small{
    opacity: 0;;

}

#compdes{
    position: relative;
    font-family: 'Helvet';
    font-size: 25px;
    transform: translate(0, -50%);
    top: 0%;
    font-weight: 400;
}


.dynamic-txt{
    position: absolute;
    left: 50%;
    top: 20%;
    font-size: 200px;
    z-index: +10;
    color: white;
    opacity:0;
}

#top-right{
    width: 100%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-top: 1%;
    border: 1px solid white;

}

#border-div{
    position: relative;
    border: 2px solid white;
    padding: 0px;
    left: 10px;
    height: 90%;
    width: 95%

}



#about-text{
    position: relative;
    font-family: 'Penthouse';
    font-size: 15px;
    text-align:justify;
    margin-left: 0px;
    margin-right: 50px;
    margin-top: 5%;
    margin-bottom: 0%;
    transform: translate(-50%, 0);
    left: 50%;
    
    
}

.menu{

    font-family: 'Penthouse';
    border: 1px solid white;
    border-radius: 40px;
    padding: 5px;
    position: relative;
    top: 50px;
    left: 20%;
    margin-right: 10px;


}
.menu:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

    
#cv{
    margin-right: 50px;
}






a{
    color: inherit;
    text-decoration: none;
}




#bottom-left{
    padding-top: 5px;
    padding-right: 0px;
    z-index: -50;


}

#c1{
    z-index: -60;
    mix-blend-mode: exclusion;



}

#c1{
    z-index: +20;
}
#bottom-right{
    height: 100%;
    width: 100%;
    font-family: 'Penthouse';
    padding-right: 20px;

}
#email, #fname, #subject, #submit{ 
    background-color: rgb(121, 33, 241);;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 20px;
    height: 25px;
    padding-left: 10px;
    
}
h3{
    margin-left: 5%;
}

#message{
    position: relative;
    top: 20%;
}

.container{
    position: relative;
    border: 2px solid white;
    width: 95%;
    height: 90%;
    top: 50px;
    
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding-left: 1%;
    
}


#submit{
    position: relative;
    margin-top: -20px;
    margin-left: 10px;

}

#submit:hover{

    background-color: white;
    color: black;
    cursor: pointer;
}

#subject{
    height: 150px;
    width: 250px;
    left: 2%;
    
}

::placeholder{
    padding-left: 10px;
    color: white;
}

@media only screen and (max-width: 1233px) {
    
    #about-text{
        font-size: 12px;
       
    }
    .menu{
        display: inline-block;
        margin: 0;
        height: 13px;
        font-size: 10px;

    }


  }

  @media only screen and (max-width: 850px) {
    #about-text{
        font-size: 10px;
    }

    .menu{

        
       margin-left: 1px;

       

    }

    #soft{
        margin-left: 1px;
    }


  }

  @media only screen and (max-width: 620px) {
    #about-text{
        font-size: 10px;
    }

    .menu{

    
    margin-top: 1px;
    top: 5px;
    margin-left: 0px;
    display: block;
    width: 100px;
    text-align: center;
    left: 60px;

       

    }

  }




